<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito</title>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/footer.css">
    
    <link rel="stylesheet" href="/css/cart.css">
    <link rel="stylesheet" href="/css/cart-tablet.css">
    <link rel="stylesheet" href="/css/cart-desktop.css">
</head>
<body>
    <header>
        <section id="lateralNavBar"><i class="fa-solid fa-bars" id="navbar"></i></section>
        <section id="searchBarSection">
            <form action="/" method="get" id="searchBarForm">
                <fieldset id="searchBarFieldset">
                    <input type="search" name="searchBar" id="searchBar" placeholder="Buscar tragos por nombre, bar, o espirituosa..."></input>
                    <button id="searchBarButton"><i class="fa-solid fa-search"></i></button>
                </fieldset>
            </form>
        </section>
        <section id="logoSection">
            <nav>
                <a href="/">
                    <img src="/assets/Logos/LogoAlt.png" alt="logo.png">
                </a>
            </nav>
        </section>
        <section id="loginCartSection">
            <nav id="loginCartNav">
                <a href="/cart"><i class="fa-solid fa-cart-shopping" id="icono"></i></a>
                <a href="/login"><i class="fa-solid fa-user" id="icono"></i></a>
            </nav>
        </section>
    </header>
    <main>
        
    </main>
    <footer>
        <section id="footerLogoSection"><img src="/assets/Logos/Logo.png" alt="logo-alt.png" id="footerLogoImg"></section>
        <section id="infoSection">
            <nav>
                <a href="/"><i class="fa-brands fa-facebook"></i></a>
                <a href="/"><i class="fa-brands fa-instagram"></i></a>
                <a href="/"><i class="fa-brands fa-twitter"></i></a>
            </nav>
            <article>
                <p>fastbar-contact@email.com</p>
                <p>direccion falsa 123, false, false</p>
                <p>0000-000-0000</p>
                <p>lorem ipsum sit dolum</p>
            </article>
        </section>
        <section>
            <h3>Copyright© 2022 FastBarCorp S.A</h3>
        </section>
    </footer>
</body>
</html>