* {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

footer {
  background: black;
  color: snow;

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: center;
}

/*LOGO DEL FOOTER*/

#footerLogoSection{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#footerLogoImg{
    max-width: 100%;
    max-height: auto;
    object-fit: contain;
}

/*TEXTO INFO Y REDES*/

#infoSection{
    align-self: center;
    flex-grow: 1;
}

section article{
    font-size: 1vw;
    font-style: italic;
}

section nav{
    gap: 5px;
}

section nav a i {
    font-size: 1.25rem;
    color: snow;
}