* {
  box-sizing: border-box;
}
header {
  width: 100%;
  height: 10vh;
  background-color: hsl(0, 0%, 0%);

  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-start;
  position: fixed;
  top: 0;
  left: 0;
}

/*BARRA LATERAL DE NAVEGACION*/
#lateralNavBar {
  width: 10%;
  padding: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

#navbar {
  font-size: 1.25rem;
  color: snow;
  background-color: hsl(0, 0%, 0%);
}

/*BARRA DE BUSQUEDA*/
#searchBarSection {
  width: 35%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  padding: 0.5rem;
}

#searchBar {
  align-self: stretch;
  width: 90%;
  border-radius: 0.75rem 0 0 0.75rem;
  height: 1.5rem;
}

#searchBarForm {
  flex-grow: 1;
}

#searchBarFieldset {
  height: 10vh;
  border: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

#searchBarButton {
  background-color: white;
  border-radius: 0 0.75rem 0.75rem 0;
}

/*LOGO*/
#logoSection {
  width: 10%;
}

header section img {
  max-width: 100%;
  max-height: auto;
  object-fit: contain;
}

/*ICONOS DE LOGIN Y CART*/
#loginCartSection {
  width: 40%;
  height: 25%;
  justify-self: center;
  align-self: center;

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

#loginCartNav {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

#icono {
  color: snow;
}

@media screen and (max-width: 500px) {
  #logoSection {
    display: none;
  }
  #searchBarSection {
    display: none;
  }
}
