* {
  box-sizing: border-box;
}
header {
  width: 100%;
  height: 10vh;
  background-color: hsl(0, 0%, 0%);

  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-start;
  position: fixed;
  top: 0;
  left: 0;
}

/*BARRA LATERAL DE NAVEGACION*/
#lateralNavBar {
  width: 10%;
  padding: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

#navbar {
  font-size: 1.25rem;
  color: snow;
  background-color: hsl(0, 0%, 0%);
}

#lateralMenu {
  position: fixed;
  top: 10vh;

  width: 12rem;
  height: 100vh;
  color: snow;
  background-color: hsl(0, 0%, 0%);

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;

  visibility: hidden;
}

div#lateralMenu nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

div#lateralMenu nav a {
  text-decoration: none;
  color: snow;
  background-color: hsl(0, 0%, 0%);
  font-size: 1rem;
  margin: 0 1rem;
  border: none;
}

#lateralMenu:target {
  visibility: visible;
}

/*BARRA DE BUSQUEDA*/
#searchBar {
  align-self: stretch;
  border: none;
  border-radius: 0.75rem 0 0 0.75rem;
  height: 1.5rem;
}

#searchBarForm {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  padding: 0.5rem;

  flex-grow: 1;
}

#searchBarFieldset {
  height: 10vh;
  border: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

#searchBarButton {
  border: none;
  background-color: white;
  border-radius: 0 0.75rem 0.75rem 0;
}

/*LOGO*/
#logoSection {
  width: 15%;
}

nav#logoSection a img {
  width: 100%;
  height: auto;
}

/*ICONOS DE LOGIN Y CART*/
#loginCartSection {
  width: 40%;
  height: 25%;
  justify-self: center;
  align-self: center;

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

#loginCartNav {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.icono {
  color: snow;
  background-color: hsl(0, 0%, 0%);
}

@media screen and (max-width: 500px) {
}

@media screen and (max-width: 900px) {
  #logoSection {
    width: 20%;
  }
  #loginCartSection {
    width: 65%;
  }
  #searchBarForm {
    display: none;
  }
}
