h2 {
    margin-top: 12vh;
}

.productTile{
    width: 98vw;
    height: auto;
    border: 1px solid black;

    margin: 2vh 0;

    display: flex;
    justify-content: flex-start;
    gap: 1vw;
}

.productTile picture a img {
    max-width: 100%;
    max-height: auto;
}

.productTile section {
    display: flex;
    flex-wrap: wrap;
}

.button-adminseller {
    padding: 0.5vw 3vh;
    border-radius: 0.75vw;
    border: none;
    color: snow;
    background-color: black;
}