/*CONTENEDOR PARA CENTRAR EL LOGIN*/
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.loginDiv {
  width: 80vw;
  background-color: lightgrey;
  padding: 3vw;

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-content: center;

  margin-top: 20vh;
  margin-left: 2vw;
  margin-right: 2vw;
  margin-bottom: 10vh;
  gap: 5vw;
}

/*FORMULARIO DE LOGIN*/
.formularioLogin {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-content: stretch;
  gap: 1rem;
}

.fieldsetLogin {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-self: stretch;
}

.socialButtons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.fieldsetButton {
  border: none;
  align-self: center;
}

.loginButton {
  height: 5vh;
  padding: 1vw;
  border-radius: 1rem;
  color: snow;
  background-color: black;
}
