*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    
}

body{
    background: hsl(0, 0, 65%);
    font-family: Verdana;
}
p{
    align-items: center;
    font-size: 15px;
   width:150%;
}

.container{
    width: 450px;
    padding: 100px;
    border-radius: 15px;
    background: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:15px;
    margin: auto;
    margin-top: 50px;
}

h6{
   color: black; 
   font-size: 15px;
   width:150%;
}
form{
    display: flex;
    flex-direction: column;
    gap:15px;
    width:150%;

}
.form__div{
    width: 100%;
    border: solid 2px #222;
    padding: 10px 25px;
    border-radius: 20px;
}
input{
    border: none;
    outline: none;
    padding: 10px;
}
span{
    color: rgb(10, 0, 0);
}
button{
    width: 100%;
    padding: 15px 15px;
    background: hsl(0, 0, 65%) ;
    border: none;
    font-size: 16px;
    border-radius: 20px;
    cursor: pointer;
}
button:hover{
    background:hsl(0, 0, 65%);
}
.enlace{
    text-align: center;
    font-size: 14px;
    color:black;
    text-decoration: none;
}

form__group__enlace{
    text-align:center;
    
}
hr{
    width:100%;
}
p{
    text-align: center;
    font-size: 14px;
}
.div__group{
    display: flex;
    gap: 20px;
}
.redes{
    width: 60px;
    height: 60px;
    background: rgb(9, 2, 2);
    padding: 10px;
    border-radius: 5%;
    font-size: 20px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration:none;
}



@media (min-width: 361px){
    .login{
        max-width: 500px;
        margin: 0 auto;
    }
}