div{
    width: 50vw;
    margin: 20vh 35vh;
    border: 1px solid grey;
    background-color: lightgray;
    padding: 1vh;
}

.classNewDrink{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border: none;
}

.fieldsetHabemusPotio{
    border: none;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1vw;
}

.buttonHabemusPotio{
    border-radius: 0.75vw;
    border: none;
    color: snow;
    background-color: black;
    height: 4vh;
    padding: 0 1vw;
}

/*MSG-ERROR*/
.msg-error{
  display: none;
  font-size: 0.75rem;
  padding: 0.25rem;
  margin: 0.50rem 0.25rem;
  border-radius: 0.25rem;
  color: hsl(0, 100%, 50%);
  background-color: hsl(0, 60%, 80%);
}

.display{
  display: block;
}