<header>
  <section id="lateralNavBar">
    <a href="#lateralMenu"><i class="fa-solid fa-bars" id="navbar"></i></a>
  </section>
  <div id="lateralMenu">
    <nav>
      <% if (!user) { %>
      <a href="/user/login"><i class="fa-solid fa-user icono"></i></a>
      <a href="/user/register"
        ><i class="fa-solid fa-arrow-right-to-bracket"></i
      ></a>

      <% } else { %>
      <a href="/cart"><i class="fa-solid fa-cart-shopping icono"></i></a>

      <% } %>
    </nav>
    <nav>
      <a href="/">categoria 1</a>
      <a href="/">categoria 2</a>
      <a href="/">categoria 3</a>
      <a href="/">categoria 4</a>
      <a href="/">categoria 5</a>
    </nav>
    <nav>
      <% if (user && user.isAdmin) { %>
      <a href="/products/new">Crear Trago</a>
      <a href="/products/">Admin tragos</a>
      <a href="/user/">Admin usuarios</a>
      <a href="/user/logout">Logout</a>
      <% } else if (user && user.isSeller) { %>
      <a href="/user/logout">Logout</a>
      <a href="/products/new">Crear Trago</a>
      <a href="/products/">Admin tragos</a>
      <% } else if (user && user.isUser) { %>
      <a href="/user/logout">Logout</a>
      <% } %>
    </nav>
    <nav>
      <a href="#">Cerrar</a>
    </nav>
  </div>

  <!--req.query.searchBar-->
  <form action="/products/search" method="get" id="searchBarForm">
    <fieldset id="searchBarFieldset">
      <input
        type="search"
        name="searchBar"
        id="searchBar"
        placeholder="Buscar tragos por nombre, bar, o espirituosa..."
      />
      <button type="submit" id="searchBarButton">
        <i class="fa-solid fa-search"></i>
      </button>
    </fieldset>
  </form>

  <nav id="logoSection">
    <a href="/">
      <img src="/assets/Logos/LogoAlt.png" alt="logo.png" />
    </a>
  </nav>

  <section id="loginCartSection">
    <nav id="loginCartNav">
      <a href="/cart"><i class="fa-solid fa-cart-shopping icono"></i></a>
      <a href="/user/login"><i class="fa-solid fa-user icono"></i></a>
    </nav>
  </section>
</header>
