<header>
  <section id="lateralNavBar">
    <a href="#lateralMenu"><i class="fa-solid fa-bars" id="navbar"></i></a>
  </section>
  <nav id="lateralMenu">
    <hr />
    <div>
      <button><i class="fa-solid fa-cart-shopping icono"></i></button>
      <button><i class="fa-solid fa-user icono"></i></button>
    </div>
    <hr />
    <a href="/">categoria 1</a>
    <a href="/">categoria 2</a>
    <a href="/">categoria 3</a>
    <a href="/">categoria 4</a>
    <a href="/">categoria 5</a>
    <hr>
    <a href="products/new">nuevo trago</a>
    <a href="products/edit">edit trago</a>
    <a href="products/detail">Product Detail</a>
    <hr />
    <a href="#">Cerrar</a>
  </nav>

  <form action="/" method="get" id="searchBarForm">
    <fieldset id="searchBarFieldset">
      <input
        type="search"
        name="searchBar"
        id="searchBar"
        placeholder="Buscar tragos por nombre, bar, o espirituosa..."
      />
      <button id="searchBarButton">
        <i class="fa-solid fa-search"></i>
      </button>
    </fieldset>
  </form>

  <nav id="logoSection">
    <a href="/">
      <img src="/assets/Logos/LogoAlt.png" alt="logo.png" />
    </a>
  </nav>

  <section id="loginCartSection">
    <nav id="loginCartNav">
      <a href="/cart"><i class="fa-solid fa-cart-shopping icono"></i></a>
      <a href="user/login"><i class="fa-solid fa-user icono"></i></a>
    </nav>
  </section>
</header>
