<!DOCTYPE html>
<html lang="en">
<%- include ('./includes/head.ejs') %> 
<body>
    <%- include ('./includes/header.ejs') %> 
    <main>
        <section class="cartSection">
            <section class="cartCounterSection">
                <div class="cartItemSection">
                    <p class="cartCounterTitle">Chilito</p>
                    <section class="cartCounter">
                        <i class="fa-solid fa-circle-minus"></i>
                        <p class="cartCounterP">6</p>
                        <i class="fa-solid fa-circle-plus"></i>
                    </section>
                </div>
                <div class="cartItemSection">
                    <p class="cartCounterTitle">Idilio</p>
                    <section class="cartCounter">
                        <i class="fa-solid fa-circle-minus"></i>
                        <p class="cartCounterP">10</p>
                        <i class="fa-solid fa-circle-plus"></i>
                    </section>
                </div>
                <div class="cartItemSection">
                    <p class="cartCounterTitle">Hurricane</p>
                    <section class="cartCounter">
                        <i class="fa-solid fa-circle-minus"></i>
                        <p class="cartCounterP">1</p>
                        <i class="fa-solid fa-circle-plus"></i>
                    </section>
                </div>
                <div class="cartItemSection">
                    <p class="cartCounterTitle">Coconextion</p>
                    <section class="cartCounter">
                        <i class="fa-solid fa-circle-minus"></i>
                        <p class="cartCounterP">5</p>
                        <i class="fa-solid fa-circle-plus"></i>
                    </section>
                </div>
                <div class="cartItemSection">
                    <p class="cartCounterTitle">Piroco</p>
                    <section class="cartCounter">
                        <i class="fa-solid fa-circle-minus"></i>
                        <p class="cartCounterP">10</p>
                        <i class="fa-solid fa-circle-plus"></i>
                    </section>
                </div>
            </section>

            <section class="cartResumeSection">
                <section class="cartResume">
                    <p>Chilito x6</p>
                    <p>Idilio x10</p>
                    <p>Hurricane x1</p>
                    <p>Coconextion x5</p>
                    <p>Piroco x10</p>
                </section>
                <section class="cartResumeSubtotal">
                    <h4>Impuestos: </h4>
                    <h4>$1000</h4>
                    <h4>IVA: </h4>
                    <h4>$750</h4>
                    <h4>Propina bartender: </h4>
                    <h4>$130.50</h4>
                </section>
                <hr>

                <section class="cartResumeTotal">
                    <h4>TOTAL: </h4>
                    <h4>total</h4>
                </section>
                <section class="buttonSection">
                <form action="/" method="post">
                    <button class="buttonMartini"><i class="fa-solid fa-martini-glass" id="martini"></i></button>
                </form>
                </section>
            </section>
        </section>
        
    </main>
    <%- include ('./includes/footer.ejs') %> 
</body>
</html>