<!DOCTYPE html>
<html lang="en">
  <%- include ('./includes/head.ejs') %>
  <body>
    <%- include ('./includes/header.ejs') %>

    <main>
      <picture id="bannerFigure">
        <img src="/assets/Mkt/22.png" alt="cumple-tliste.png" id="bannerHome" />
      </picture>

      <h3>Favorites</h3>
      <section class="productSection">
        <article class="productArticle">
          <picture>
            <a href="/productDetail">
              <img
                src="/assets/Images/Caipiroska.jpeg"
                alt=""
                class="productImg"
              />
            </a>
          </picture>
          <section class="productDescriptionSection">
            <h5 class="productNombreH5">Caipiroska</h5>
            <p class="productPrecioP">$600</p>
          </section>
        </article>
        <article class="productArticle">
          <picture>
            <a href="/productDetail">
              <img
                src="/assets/Images/Hurricane.jpeg"
                alt=""
                class="productImg"
              />
            </a>
          </picture>
          <section class="productDescriptionSection">
            <h5 class="productNombreH5">Hurricane</h5>
            <p class="productPrecioP">$750</p>
          </section>
        </article>
        <article class="productArticle">
          <picture>
            <a href="/productDetail">
              <img
                src="/assets/Images/CosmopolitanModerno.jpeg"
                alt=""
                class="productImg"
              />
            </a>
          </picture>
          <section class="productDescriptionSection">
            <h5 class="productNombreH5">Cosmopolitan Moderno</h5>
            <p class="productPrecioP">$850</p>
          </section>
        </article>
        <article class="productArticle">
          <picture>
            <a href="/productDetail">
              <img
                src="/assets/Images/CucumberCollins.jpeg"
                alt=""
                class="productImg"
              />
            </a>
          </picture>
          <section class="productDescriptionSection">
            <h5 class="productNombreH5">Cucumber Collins</h5>
            <p class="productPrecioP">$600</p>
          </section>
        </article>
      </section>

      <h3>Top Selection</h3>
      <section class="productSection">
        <article class="productArticle">
          <picture>
            <a href="/productDetail">
              <img
                src="/assets/Images/Coconextion.jpeg"
                alt=""
                class="productImg"
              />
            </a>
          </picture>
          <section class="productDescriptionSection">
            <h5 class="productNombreH5">Coconextion</h5>
            <p class="productPrecioP">$850</p>
          </section>
        </article>
        <article class="productArticle">
          <picture>
            <a href="/productDetail">
              <img
                src="/assets/Images/Chilito.jpeg"
                alt=""
                class="productImg"
              />
            </a>
          </picture>
          <section class="productDescriptionSection">
            <h5 class="productNombreH5">Chilito</h5>
            <p class="productPrecioP">$750</p>
          </section>
        </article>
        <article class="productArticle">
          <picture>
            <a href="/productDetail">
              <img src="/assets/Images/Idilio.jpeg" alt="" class="productImg" />
            </a>
          </picture>
          <section class="productDescriptionSection">
            <h5 class="productNombreH5">Idilio</h5>
            <p class="productPrecioP">$750</p>
          </section>
        </article>
        <article class="productArticle">
          <picture>
            <a href="/productDetail">
              <img src="/assets/Images/Piroco.jpeg" alt="" class="productImg" />
            </a>
          </picture>
          <section class="productDescriptionSection">
            <h5 class="productNombreH5">Piroco</h5>
            <p class="productPrecioP">$850</p>
          </section>
        </article>
      </section>

      <h3>All</h3>
      <section class="productSection">
        <article class="productArticle">
          <picture>
            <a href="/productDetail">
              <img
                src="/assets/Images/Caipiroska.jpeg"
                alt=""
                class="productImg"
              />
            </a>
          </picture>
          <section class="productDescriptionSection">
            <h5 class="productNombreH5">Caipiroska</h5>
            <p class="productPrecioP">$600</p>
          </section>
        </article>
        <article class="productArticle">
          <picture>
            <a href="/productDetail">
              <img
                src="/assets/Images/Hurricane.jpeg"
                alt=""
                class="productImg"
              />
            </a>
          </picture>
          <section class="productDescriptionSection">
            <h5 class="productNombreH5">Hurricane</h5>
            <p class="productPrecioP">$750</p>
          </section>
        </article>
        <article class="productArticle">
          <picture>
            <a href="/productDetail">
              <img
                src="/assets/Images/CosmopolitanModerno.jpeg"
                alt=""
                class="productImg"
              />
            </a>
          </picture>
          <section class="productDescriptionSection">
            <h5 class="productNombreH5">Cosmopolitan Moderno</h5>
            <p class="productPrecioP">$850</p>
          </section>
        </article>
        <article class="productArticle">
          <picture>
            <a href="/productDetail">
              <img
                src="/assets/Images/CucumberCollins.jpeg"
                alt=""
                class="productImg"
              />
            </a>
          </picture>
          <section class="productDescriptionSection">
            <h5 class="productNombreH5">Cucumber Collins</h5>
            <p class="productPrecioP">$600</p>
          </section>
        </article>
        <article class="productArticle">
          <picture>
            <a href="/productDetail">
              <img
                src="/assets/Images/Coconextion.jpeg"
                alt=""
                class="productImg"
              />
            </a>
          </picture>
          <section class="productDescriptionSection">
            <h5 class="productNombreH5">Coconextion</h5>
            <p class="productPrecioP">$850</p>
          </section>
        </article>
        <article class="productArticle">
          <picture>
            <a href="/productDetail">
              <img
                src="/assets/Images/Chilito.jpeg"
                alt=""
                class="productImg"
              />
            </a>
          </picture>
          <section class="productDescriptionSection">
            <h5 class="productNombreH5">Chilito</h5>
            <p class="productPrecioP">$750</p>
          </section>
        </article>
        <article class="productArticle">
          <picture>
            <a href="/productDetail">
              <img src="/assets/Images/Idilio.jpeg" alt="" class="productImg" />
            </a>
          </picture>
          <section class="productDescriptionSection">
            <h5 class="productNombreH5">Idilio</h5>
            <p class="productPrecioP">$750</p>
          </section>
        </article>
        <article class="productArticle">
          <picture>
            <a href="/productDetail">
              <img src="/assets/Images/Piroco.jpeg" alt="" class="productImg" />
            </a>
          </picture>
          <section class="productDescriptionSection">
            <h5 class="productNombreH5">Piroco</h5>
            <p class="productPrecioP">$850</p>
          </section>
        </article>
      </section>
    </main>
    <%- include ('./includes/footer.ejs') %>
  </body>
</html>
