<!DOCTYPE html>
<html lang="en">
  <%- include ('../includes/head.ejs') %>
  <body>
    <div id="fb-root"></div>
    <script
      async
      defer
      crossorigin="anonymous"
      src="https://connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v14.0"
      nonce="XKreD7F2"
    ></script>
    <%- include ('../includes/header.ejs') %>
    <main>
      <div class="loginDiv">
        <h4>Si alcohol deseas conseguir, a la comunidad te debes unir</h4>
        <form action="/user/save" method="post" class="formularioLogin">
          <fielset class="fieldsetLogin">
            <label class="labelLogin" for="email">Email: </label>
            <input
              class="inputRegister"
              type="email"
              name="email"
              id="email"
              placeholder="Introduzca aqui su email"
              required
            />
          </fielset>
          <fielset class="fieldsetLogin">
            <label class="labelLogin" for="contrasena">Contrasena: </label>
            <input
              class="inputLogin"
              type="password"
              name="contrasena"
              id="constrasena"
              required
            />
          </fielset>
          <fielset class="fieldsetButton">
            <button type="submit" class="loginButton">LOG IN</button>
          </fielset>
        </form>

        <!--Botones de logearse FACEBOOK Y GOOGLE-->
        <div class="socialButtons">
          <div
            class="fb-login-button"
            data-width="191"
            data-size="medium"
            data-button-type="login_with"
            data-layout="default"
            data-auto-logout-link="false"
            data-use-continue-as="false"
          ></div>

          <div id="my-signin2"></div>
          <script>
            function onSuccess(googleUser) {
              console.log(
                "Logged in as: " + googleUser.getBasicProfile().getName()
              );
            }
            function onFailure(error) {
              console.log(error);
            }
            function renderButton() {
              gapi.signin2.render("my-signin2", {
                scope: "profile email",
                width: 191,
                height: 30,
                longtitle: true,
                theme: "dark",
                onsuccess: onSuccess,
                onfailure: onFailure,
              });
            }
          </script>

          <script
            src="https://apis.google.com/js/platform.js?onload=renderButton"
            async
            defer
          ></script>
        </div>

        <h5>
          No estas registrado?
          <a href="/user/register">Ven al lado divertido de la fiesta</a>
        </h5>
      </div>
    </main>
    <%- include ('../includes/footer.ejs') %>
  </body>
</html>
