<!DOCTYPE html>
<html lang="en">
<% include ('../includes/head.ejs') %> 
<body>

    
<% include ('../includes/header.ejs') %> 
    <main class="login">
<div class="container">
   <h6>Para continuar, ingresá con tu cuenta.</h6>

   <form action="/" method="POST">
            <div class="form__group form__div">
                <span><i class="fa-solid fa-envelope"></i></span>
                <input class="campo" type="email" placeholder="Correo electrónico:">
            </div>
            
            <div class="form__group form__div">
                <span><i class="fa-solid fa-lock"></i></span>
                <input class="campo" type="password" placeholder="Contraseña:">
            </div>
            <div class="form__group"></div>   
                 
                <button type="submit">Acceso</button>
            </div>   
            <div class="form__group__enlace"></div>   
                 
            <a class="enlace" href="¿No tenés una cuenta? Registrate GRATIS"></a>
            <a class="enlace" href="Te olvidaste la constraseña?"></a>
           
        </div>  
        
        </form>
<hr>
<p>Inicia sesión con:</p>
<div class="div__group"></div> 
<a href="#"><i class="fa-brands fa-google"></i></a>
<a href="#"><i class="fa-brands fa-facebook"></i></a>
<a href="/register">O registrate aca</a>
</div>   
        
</div>
    </main>
    <% include ('../includes/footer.ejs') %> 
</body>
</html>